.row.center
  .well.fullspan
    .span12
      .span2half
        #request_icon.img-polaroid
      .span9
        %h2 Requests
        %p Post a request for others to take up. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        %p= link_to 'Create new request!', new_request_path, :class => 'btn btn-success'

.row
  .span12.skip_fullspan

.row
  .span12
    .black_seperate
    .seperate.bottom10
    .lead 
      Your
      %span.redding active
      requests

.row.top20
  .span12
    .black_seperate
    .seperate.bottom10
    .lead
      Your
      %span.redding completed
      requests

