#registrations{
  @include user_page;
  textarea{height: 100px; width: 600px;}
  .edit_text{
    width: 145px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    top: 90px;
    left: -7px;
  }
  .pic{ position: relative; }
  .pic:hover{ cursor: pointer; .edit_text{ display: inline-block; }}
  .fullspan{ height: 210px;}
  #country_name{ line-height: normal; font-weight: bold; padding: 0; }
  .favorite_pic{ margin-top: -15px; height: 150px; }
  .edit_image{ height: 150px; width: 150px; }
  .media{ padding-top: 20px; width: 850px;}
  .media{ textarea{ height: 65px; }}
  .label_text{ font-size: 14px; font-weight: normal; line-height: 20px;}
  .label_text.country_question{ font-size: 17px; }
}
