#home{
  #email_signup{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 40px 0 20px 0;
    background-color:rgba(255,255,255,0.9);
    height: 250px;
    width: 630px;
  }

  #headline{ font-size: 40px; }
  .btn{ margin-top: 12px; }
  .bottom{ margin-bottom: 70px; }

  background: image-url("four.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  #centerize{ margin-left: 10%; margin-top: 40px; width: 975px;}

}
