#users{
  @include user_page;

  #self_star{ display: inline-block; width: 145px; text-align: center;}
  .fav_tip:hover{ cursor: pointer; }
  .fav_details{ margin-top: -40px; }
  .media-body{ width: 360px; }
  .fav_photo{ vertical-align: top; }
  .favorites{ min-height: 165px; }
  .fav_photo{ width: 140px; height: 140px; }
  .small_fav_photo{ width: 64px; height: 64px; }
  #message_text{width: 95%; height: 150px;}

  .intro{ font-family: "Zeyada Regular"; }
}
