$light-grey: #CCCCCC;
$dark-grey: #999999;
$shadow: #a3a3a3;
$lighter-grey: #F1F2F2;

$orange: #FAA732;
$light-orange: #fad39c;

$green: #5bb75b;
$light-green: #b0e1b0;
$lighter-green: #e3ffe2;

$light-blue: #c2e1f5;
$cool-blue: #88b7d5;

$red: #DA4F49;
$light-red: #ebb2b0;

$pink: #F7A1D2;
$purple: #754495;
$hot: #E2007A;
$light_pink: #FFE0F2;
