$light-grey: #CCCCCC;
$dark-grey: #999999;
$shadow: #a3a3a3;
$lighter-grey: #F1F2F2;

$orange: #FAA732;
$light-orange: #fad39c;

$green: #5bb75b;
$light-green: #b0e1b0;
$lighter-green: #e3ffe2;

$light-blue: #bce0eb;
$cool-blue: #D4EAF3;

$red: #DA4F49;
$light-red: #ebb2b0;
