@for $i from 1 through 10 {
  .bottom#{$i * 10} {
    margin-bottom: #{$i * 10}px;
  }
  .right#{$i * 10} {
    margin-right: #{$i * 10}px;
  }
  .left#{$i * 10} {
    margin-left: #{$i * 10}px;
  }
  .top#{$i * 10} {
    margin-top: #{$i * 10}px;
  }
}

.bold{ font-weight: bold;}
.fright{ float: right }
.fleft{ float: left }
.hidden{ display: none; }
.inline{ display: inline-block;}

.span1half{ width: 90px; }
.offset1half{ margin-left: 140px; }
.offsethalf{ margin-left: 30px; }
.spanhalf{ width: 30px; }
.span2half{ width: 180px; }
.span3half{ width: 275px; }
.span6half{ width: 500px; }

.no_rep{background-repeat:no-repeat;}
.help-inline{ color: $red; }
.help-inline.valid{ color: $green; }
.btn{ background-image: none; border-radius: 0;}
.btn-pink{ background-color: #FCBDEA; color: black;}
.btn-black{ background-color: black; color: white;}
.redding{ color: $pink; }

@font-face {
  font-family: 'Zeyada Regular';
  src: url('/assets/zeyada-webfont.eot');
  src: url('/assets/zeyada-webfont.eot?iefix') format('eot'),
  url('/assets/zeyada-webfont.woff') format('woff'),
  url('/assets/zeyada-webfont.ttf') format('truetype'),
  url('/assets/zeyada-webfont.svg#webfont3AwWkQXK') format('svg');
  font-weight: normal;
  font-style: normal;
}
