.world_flag{ background: image-url("flag_sprite.png") no-repeat; display: inline-block; }

.sprite-Australia{ background-position: 0 0; width: 31px; height: 31px; } 
.sprite-Canada{ background-position: 0 -41px; width: 31px; height: 31px; } 
.sprite-China{ background-position: 0 -82px; width: 31px; height: 31px; } 
.sprite-France{ background-position: 0 -123px; width: 31px; height: 31px; } 
.sprite-Germany{ background-position: 0 -164px; width: 31px; height: 31px; } 
.sprite-Greece{ background-position: 0 -205px; width: 31px; height: 31px; } 
.sprite-HongKong{ background-position: 0 -246px; width: 31px; height: 31px; } 
.sprite-Ireland{ background-position: 0 -287px; width: 31px; height: 31px; } 
.sprite-Israel{ background-position: 0 -328px; width: 31px; height: 31px; } 
.sprite-Italy{ background-position: 0 -369px; width: 31px; height: 31px; } 
.sprite-Japan{ background-position: 0 -410px; width: 31px; height: 31px; } 
.sprite-Mexico{ background-position: 0 -451px; width: 31px; height: 31px; } 
.sprite-Netherlands{ background-position: 0 -492px; width: 31px; height: 31px; } 
.sprite-NewZealand{ background-position: 0 -533px; width: 31px; height: 31px; } 
.sprite-Palestine{ background-position: 0 -574px; width: 31px; height: 31px; } 
.sprite-Peru{ background-position: 0 -615px; width: 31px; height: 31px; } 
.sprite-Poland{ background-position: 0 -656px; width: 31px; height: 31px; } 
.sprite-Portugal{ background-position: 0 -697px; width: 31px; height: 31px; } 
.sprite-Romania{ background-position: 0 -738px; width: 31px; height: 31px; } 
.sprite-Singapore{ background-position: 0 -779px; width: 31px; height: 31px; } 
.sprite-SouthKorea{ background-position: 0 -820px; width: 31px; height: 31px; } 
.sprite-Spain{ background-position: 0 -861px; width: 31px; height: 31px; } 
.sprite-Sweden{ background-position: 0 -902px; width: 31px; height: 31px; } 
.sprite-Switzerland{ background-position: 0 -943px; width: 31px; height: 31px; } 
.sprite-Thailand{ background-position: 0 -984px; width: 31px; height: 31px; } 
.sprite-UK{ background-position: 0 -1025px; width: 31px; height: 31px; } 
.sprite-USA{ background-position: 0 -1066px; width: 31px; height: 31px; } 
.sprite-Uruguay{ background-position: 0 -1107px; width: 31px; height: 31px; }

