#main_nav{
  padding: 10px 10px 15px 10px;
  margin-bottom: 25px;
  a{ color: white; text-shadow: none; font-weight: 200; font-size: 17px;}
  .brand{ font-size: 40px; }
  background-color: black;

  #unread_messages{
    position: absolute;
    top: 0;
    left: 105px;
    background: red;
    border-radius: 28px;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
